<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="output.css">
    <title>{{ .title }}</title>
</head>
<body>

<div class="mx-auto max-w-md">
    <h3 class="text-xl font-medium text-gray-900">{{ .title }}</h3>
</div>
{{ range $k, $v := .contents }}
<hr class="my-8 h-px border-0 bg-gray-100" />
<div class="mx-auto max-w-md overflow-hidden rounded-lg bg-white shadow">
    <div class="p-4">
        <p class="mb-1 text-sm text-primary-500"><time>{{ $v.Timestamp2String }}</time></p>
        <p class="mt-1 text-gray-500">{{ $v.MessageWithLinkTag }}</p>
    </div>
    {{ range $v.Files }}
    <img src="../{{ . }}" class="aspect-video w-full object-cover" alt="" />
    {{ end }}
</div>
{{ end }}

</body>
</html>